In [177]:
lst=[]
print(type(lst))

<class 'list'>

In [178]:
type(lst)

list

In [179]:
names=["ayesha","batool",1,True]
print(names)

['ayesha', 'batool', 1, True]

In [180]:
print(names[1:])

['batool', 1, True]

In [181]:
names.append("ayesha")
print(names)

['ayesha', 'batool', 1, True, 'ayesha']

In [182]:
#names.remove("ayesha")
print(names)

['ayesha', 'batool', 1, True, 'ayesha']

In [183]:
print(names[-1])

ayesha

In [184]:
popped_names= names.pop()
print(popped_names)
print(names)

ayesha
['ayesha', 'batool', 1, True]

In [185]:
names.insert(2,"ayesha")
print(names.count("ayesha"))
print(names)

2
['ayesha', 'batool', 'ayesha', 1, True]

In [186]:
names.reverse()
print(names)

[True, 1, 'ayesha', 'batool', 'ayesha']

## Slicing List

In [187]:
numbers =[1,2,3,4,5,6,7,8,9,10]
print(numbers[:5])
print(numbers[::2])
print(numbers[::-1])

[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [188]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

## Iterating with index: here main function is enumerate  which iterate numbers with  indicies

In [189]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

list comprehension: [expreshion for item in iterable if condition/condition]:

In [190]:
square= [numbers**2 for numbers in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

lst=[]
for i in range(10):
  if i%2==0:
    lst.append(i)

print(lst)

In [191]:
lst = [i for i in range(10) if i%2==0]
print(lst)

[0, 2, 4, 6, 8]

In [192]:
lst1=[1,2,3,4]
lst2 =['a','b','c']
compn =[[i,j] for i in lst1 for j in lst2]
print(compn)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

Tuples

In [193]:
empt_tup=()
print(empt_tup)
print(type(empt_tup))

()
<class 'tuple'>

In [194]:
num =(1,2,3)
mixed_tuple=(1,"hello","ayesha",False)
conater = num+mixed_tuple
print(conater)

(1, 2, 3, 1, 'hello', 'ayesha', False)

Mutable objects inside tuples can be changed:

In [195]:
tips= (1,[2,4],6,7)
tips[1].append(9)
print(tips)

(1, [2, 4, 9], 6, 7)

sets

In [196]:
my_set={1,2,4}
print(type(my_set))

<class 'set'>

set() requires one iterable, not multiple separate values.

In [197]:
a= set([1,2])
print(a)

{1, 2}

In [198]:
a ={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

2. remove() → removes element; gives error if not found

In [199]:
a = {1, 2, 3}
a.remove(2)
print(a)   # {1, 3}
# a.remove(5)  # ❌ KeyError (if element not found)

{1, 3}

3. discard() → removes element; NO error if not found

In [200]:
a = {1, 2, 3}
a.discard(2)
a.discard(5)   # no error even though 5 not in set
print(a)       # {1, 3}

{1, 3}

4. pop() → removes and returns a random element (since sets are unordered)

In [201]:
c ={1,3,5,9}
print(c.pop())
print(c)

1
{3, 5, 9}

In [202]:
print(c.pop())
print(c)

3
{5, 9}

In [203]:
a = {1, 2, 3}
a.clear()
print(a)

set()

In [204]:
a = {1, 2, 3}
b = a.copy()
print(b)   # {1, 2, 3}

{1, 2, 3}

In [205]:
a= {3,4}
b={5,3,6}
c= a.intersection(b)
print(c)

{3}

In [206]:
a= {3,4}
b={5,3,6}
c= a.union(b)
print(c)

{3, 4, 5, 6}

9. difference() → elements in first set but not in second , simply means if a difference b then removes elements of b from set a

In [207]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.difference(b))   # {1}

{1}

10. symmetric_difference() → elements in either set but not both( eliminates elements that are common in both)

In [208]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.symmetric_difference(b))   # {1, 4}

{1, 4}

11. issubset() → checks if all elements of one set are in another

In [209]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))   # True
print(b.issubset(a))   # False

True
False

What issuperset() does:

issuperset(other_set) checks if all elements of other_set are contained in the calling set.

In other words, it answers:
👉 “Is this set big enough to fully contain the other set?”

In [2]:
a = {1, 2}
b = {1, 2, 3}

print(b.issuperset(a))   # True

True

DICTIONARIES

In [210]:
empty_dic ={}
print(empty_dic)
print(type(empty_dic))

{}
<class 'dict'>

In [6]:
student ={"name":"ayesha","age":22}
print(student)

{'name': 'ayesha', 'age': 22}

In [5]:
student["age"]==30

False

In [213]:
student["address"]="pakistan"
print(student )

{'name': 'ayesha', 'age': '22', 'address': 'pakistan'}

In [214]:
key= student.keys()
print(key)

dict_keys(['name', 'age', 'address'])

In [215]:
value=student.values()
print(value)

dict_values(['ayesha', '22', 'pakistan'])

In [216]:
item =student.items()
print(item)

dict_items([('name', 'ayesha'), ('age', '22'), ('address', 'pakistan')])

In [217]:
for keys in student.keys():
    print(keys)

name
age
address

In [218]:
for values in student.values():
    print(values)

ayesha
22
pakistan

In [219]:
for keys,values in student.items():
    print(f"{keys}:{values}")

name:ayesha
age:22
address:pakistan

Dictonaries Functions:

In [220]:
student = {"name": "Ayesha", "age": 22}
print(student.get("name"))      # Ayesha
print(student.get("city", "N/A"))  # N/A (default if not found)

Ayesha
N/A

In [221]:
student.update({"age":30,"address":"rawalpindi"})
print(student)

{'name': 'Ayesha', 'age': 30, 'address': 'rawalpindi'}

6. pop() → removes and returns value for a given key

In [222]:
student.pop("name")
print(student )

{'age': 30, 'address': 'rawalpindi'}

7. popitem() → removes and returns the last inserted key-value pair

In [223]:
student = {"name": "Ayesha", "age": 22, "city": "Rawalpindi"}
print(student.popitem())  # ('city', 'Rawalpindi')
print(student)            # {'name': 'Ayesha', 'age': 22}

('city', 'Rawalpindi')
{'name': 'Ayesha', 'age': 22}

In [224]:
student = {"name": "Ayesha", "age": 22}
student.clear()
print(student)   # {}

{}

In [225]:
student = {"name": "Ayesha"}
clone = student.copy()
print(clone)   # {'name': 'Ayesha'}

{'name': 'Ayesha'}

10. setdefault() → returns value if key exists, otherwise adds it with default value

In [229]:
students ={"name":" Ayesha","age":30}
print(students.setdefault("age", 22))
print(students)

30
{'name': ' Ayesha', 'age': 30}

11. fromkeys() → creates dictionary from keys with same default value

In [230]:
keys =["name","age","city"]
new_dict= dict.fromkeys(keys,"unkown")
print(new_dict)

{'name': 'unkown', 'age': 'unkown', 'city': 'unkown'}