In [4]:
import sqlite3
connection =sqlite3.connect('ayesha.db')

In [5]:
connection

Create

In [20]:
"create  table if not  exist tech_Ninjas(id integer,name text not null,age  interger, department integer )"

'create  table if not  exist tech_Ninjas(id integer,name text not null,age  interger, department integer )'

In [21]:
cursor = connection.cursor()

In [43]:
cursor.execute("""
    create  table if not exists tech_Ninjas(
        id integer,
        name text not null,
        age integer,
        department integer
    )
""")

In [44]:
connection.commit()

Fetch

In [45]:
cursor.execute("select * from  tech_Ninjas")
connection.commit()

##Insertion

In [46]:
cursor.execute(''' 
Insert Into tech_Ninjas(id,name,age,department)
               values(1,'ayesha',22,'data scientists')
''' )
cursor.execute(''' 
Insert Into tech_Ninjas(id,name,age,department)
               values(2,'ayes',25,'data analytics')
''' )

In [47]:
connection.commit()

In [48]:
cursor.execute("select * from  tech_Ninjas")
row=cursor.fetchall()

In [49]:
row

[(1, 'ayesha', 22, 'data scientists'),
 (1, 'ayesha', 22, 'data scientists'),
 (1, 'ayesha', 22, 'data scientists'),
 (2, 'ayes', 34, 'data analytics'),
 (1, 'ayesha', 22, 'data scientists'),
 (2, 'ayes', 25, 'data analytics')]

In [50]:
for  b in row:
    print(b)

(1, 'ayesha', 22, 'data scientists')
(1, 'ayesha', 22, 'data scientists')
(1, 'ayesha', 22, 'data scientists')
(2, 'ayes', 34, 'data analytics')
(1, 'ayesha', 22, 'data scientists')
(2, 'ayes', 25, 'data analytics')

In [51]:
cursor.execute(''' 
UPDATE tech_Ninjas
set age=34
where name ="ayes"
''' )

In [52]:
connection.commit()

In [ ]:
connection.close()